/* Example of use is at the bottom of file */

@mixin placeholder() {

  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }
}

/*

  Example:

    input {
      color: $cBlack;

      @include placeholder() {
        color: $cBlack;
      }
    }

  Result:

    input {
      color: $cBlack;
    }

    input::-webkit-input-placeholder {
      color: $cBlack;
    }

    input::-moz-placeholder {
      color: $cBlack;
    }

    input:-ms-input-placeholder {
      color: $cBlack;
    }

    input:-moz-placeholder {
      color: $cBlack;
    }

*/