// WHITE AND BLACK
$cBlack:      #000000;
$cGray:       #7F8DA0;
$cWhite:      #FFFFFF;

// COLORS
$cBackground: #F2F6FF;
$cDark:       #23233C;
$cLight:      #6CC57C;
$cAdditional: #929FC7;
$cRed:        #EE6A6E;
$cBlue:       #2A5A7B;
