$tr-s : .2s;
$tr   : .3s;
$tr-m : .5s;
$tr-l : .7s;


.fadeSlide-enter-active,
.fadeSlide-leave-active {
  transition: $tr;
}

.fadeSlide-enter,
.fadeSlide-leave-to {
  opacity: 0;
}

.fadeSlide-enter {
  transform: translateX(-50%);
}

.fadeSlide-leave-to {
  transform: translateX(50%);
}
