/.idea
/.vscode
/.vagrant
npm-debug.log
yarn-error.log
*.bak
_work/
html/dist/*
wp-content/logs/
wp-content/themes/*/dist/styles.css
*.DS_Store
wp-config.php
wp-content/debug.log
wp-content/themes/daietto/public/
wp-content/themes/daietto/vendor/
wp-content/themes/daietto/node_modules
wp-content/themes/daietto/packages-lock.json
sandr/