.header {
  $root: &;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: $tr;
  background-color: transparent;
  z-index: 200;

  &--sticky {
    background-color: rgba($cWhite, $alpha: 1);

    #{$root}__inner {
      height: 70px;
    }

    #{$root}__title{
      color: $cDark;
      font-size: 1.8rem;
    }

    #{$root}__menu {
      color: $cGray;
    }

    #{$root}__image {
      max-width: 50px;
    }
  }

  &__inner,
  &__title,
  &__image,
  &__menu {
    transition: $tr;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 120px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    transition: $tr;

    &:hover {
      opacity: .6;
    }
  }

  &__title {
    margin-left: 20px;
    color: $cDark;
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__image {
    max-width: 70px;
  }

  &__menu {
    display: flex;
    align-items: center;
    color: $cGray;
  }
}