$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-right: "\e904";
$icon-android: "\e901";
$icon-apple: "\e900";
$icon-facebook: "\e902";
$icon-instagram: "\e903";
$icon-twitter: "\e905";

