*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: $fMain;
  font-size: 10px;
  line-height: 1;
}

body {
  height: 200vh;
  background-color: $cBackground;
  color: $cDark;
  font-weight: 400;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

::placeholder {
  opacity: 1;
}

.p {
  color: $cGray;
  font-size: 1.6rem;
  line-height: 1.3;

  &--large {
    font-size: 1.8rem;
  }
}

.h {
  font-size: 4rem;
  font-weight: 700;

  &--large {
    font-size: 5rem;
  }

  &--light {
    color: $cLight;
  }
}