.cloudBig {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 1000;

  &__inner {
    min-width: 380px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: $cWhite;
    box-shadow: 0 0 15px 5px rgba($cBlue, .2);
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
  }

  &__content {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  &__results {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
  }

  &__properties {
    display: flex;
    justify-content: space-between;
  }

  &__property {
    padding: 5px;
  }

  &__value {
    min-width: 50px;
    color: $cLight;
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;

    &--calories {
      color: $cRed;
    }
  }

  &__category {
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: .9rem;
    text-align: center;
  }

  &__circle {
    display: grid;
    position: relative;
    flex: 2;
    place-items: center;
  }

  &__circleChart {
    width: 70px;
    height: 70px;
    margin: 20px;
  }

  &__circleContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__footer {
    text-align: right;
  }

  &__footerLink {
    color: $cLight;

    &:hover {
      text-decoration: underline;
    }
  }
}