.cloudSmall {
  position: absolute;
  top: 5%;
  left: 80%;
  z-index: 1000;

  &__inner {
    padding: 20px 30px;
    border-radius: 10px;
    background-color: $cWhite;
    box-shadow: 0 0 15px 5px rgba($cBlue, .2);
  }

  &__title {
    margin-bottom: 16px;
    font-size: 1.3rem;
    text-align: center;
  }

  &__properties {
    display: flex;
    justify-content: space-between;
  }

  &__property {
    min-width: 60px;
    padding: 5px 0;
  }

  &__value {
    min-width: 50px;
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;

    &--calories {
      color: $cRed;
    }
  }

  &__category {
    margin-top: 7px;
    font-size: .7rem;
    text-align: center;
  }
}