.cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  z-index: 1000;

  &--small {
    top: 5%;
    left: 90%;
  }

  &--big {
    top: 40%;
    width: max-content;

    @include rwd ('ultra') {
      left: 30%;
    }

    @include rwd ('large-laptop') {
      left: -15%;
    }
  }

  &__inner {
    padding: 20px;
    border-radius: 10px;
    background-color: $cWhite;
    box-shadow: 0 0 15px 5px rgba($cBlue, .2);
  }

  &__title {
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
  }

  &__content {
    display: flex;

    &--bottomSpacing {
      margin-bottom: 10px;
    }
  }

  &__results {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
  }

  &__properties {
    display: flex;
    justify-content: space-between;
  }

  &__property {
    margin: 0 10px;
  }

  &__value {
    min-width: 50px;
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;

    &--red {
      color: $cRed;
    }

    &--light {
      color: $cLight;
    }
  }

  &__category {
    margin-top: 7px;
    font-size: .9rem;
    text-align: center;

    &--bottomSpacing {
      margin-bottom: 10px;
    }
  }

  &__circle {
    display: grid;
    position: relative;
    flex: 2;
    place-items: center;
  }

  &__circleChart {
    width: 70px;
    height: 70px;
    margin: 20px;
  }

  &__circleContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__footer {
    text-align: right;
  }

  &__footerLink {
    color: $cLight;

    &:hover {
      text-decoration: underline;
    }
  }
}