.hero {
  margin-top: 100px;

  &__inner {
    display: flex;
  }

  &__line {
    width: 62px;
    height: 8px;
    margin-bottom: 26px;
    border-radius: 10px;
    background-color: $cDark;
  }

  &__intro {
    margin-bottom: 30px;
  }

  &__title {
    max-width: 350px;
    margin-bottom: 20px;
  }

  &__description {
    max-width: 420px;
  }
}