.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    font-family: $fMain;
  }

  &__item {
    padding: 10px 30px;
  }

  &__link {
    display: block;
    height: 100%;
  }
}